<header style="padding-bottom: 1em;">
    <nav>
        <% ["payment","project", "notebook"].each do |singular_name| %>
            <a href="/admin/<%= singular_name.pluralize %>"><%= I18n.t("activerecord.models.#{singular_name}") %></a>
        <% end %>
    </nav>
</header>